

h1 {
    font-family: "Arial", Arial, sans-serif;
      text-align: center;
    background-color: black;
    color: white;
}

h2 {
  font-family: "Arial", Arial, sans-serif;
  text-align: center;
  color: #85C1E9;
}

h3 {
  font-family: "Arial", Arial, sans-serif;
  text-align: center;
  width: 900px;
}

p {
  font-family: "Arial", Arial, sans-serif;
  width: 900px;
}
img {
  align: center;
}

a {
  text-decoration: none;
  color: black;
}

#imghover:hover{
opacity: 0.5
}
body {
    background-color: pink;
    font-family: monospace;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    color: black;
    text-align: center;
}
.nr1{
  text-align: center;
  background-color: brown;
}
.nummer2 {
  text-align: center;
  background-color: red;

}
 .nr3 {
   text-align: center;
   background-color: blue;
 }
.hoi {
    color: black;
    text-align:center;
    width: 100%;
}

h5 { text-align: center;
}

.winkeltjes {
  background-color: purple;
  width: 100%;
}


.topbutton {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
    border-radius: 5px;
    font-family: monospace;

}


.top10 {
  font-family: monospace;
  background-color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
